*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.main_web
{
    position: flex;
    flex-flow: column;
    background-color:white;
}
ul,
li,
ol{
    padding-inline-start: 0;
    list-style-type: none;
}
footer{
    height: 10px;
    width: 100%;
    background-color: aqua;
}
a{
    text-decoration: none;
}
button{
    background-color: white;
}

.clear{
    clear: both;
}

.logo-img {
    object-fit: contain;
}